@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
    margin-left: 0.75rem;
      margin-right: 0.75rem;
      overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}